.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
  = bootstrap_form_for(resource, url: session_path(resource_name)) do |f|
    %fieldset
      %legend
        %h2 Log In

      = f.email_field :email, autofocus: true

      = f.password_field :password, autocomplete: "off"

      - if devise_mapping.rememberable?
        = f.check_box :remember_me

      .actions
        = f.submit "Log in"

    = render "devise/shared/links"
